.header {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
}

.navbar {
	grid-column: 2;
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0.9em 0;
	position: relative;
	background-color: #f9f9f9;
	/* background-color: red; */
}
.navList {
	/* display: none; */
	position: absolute;
	top: 5em;
	/* left: 0; */
	/* width: 100%; */
	right: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 1em;
	z-index: 1;

	display: flex;
	flex-direction: column;
	gap: 1em;
}
.nav__link {
	display: block;
}
.cta {
	background-color: #20888f;
	color: #fff;
	padding: 1em;
	border-radius: 5em;
}
.cta__alt {
	padding: 0.8em 1em;
	background-color: #000;
	color: #fff;
	border-radius: 5em;
}
.hamburger {
	margin-left: auto;
}

@media (min-width: 1055px) {
	.hamburger {
		display: none;
	}

	.navList {
		/* display: none; */
		position: static;

		background-color: transparent;
		box-shadow: none;
		padding: 0em;
		z-index: 1;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 0.4em;
		/* background-color: red; */
		/* width: 100%; */
    flex: 1;
	}
	.nav__link {
		padding: 0.5em 0.5em;
	}
	.navList__item__cta {
		margin-left: auto;
	}
	.cta {
		padding: 0.8em 1em;
		background-color: #20888f;
		color: #fff;
		border-radius: 5em;
    }
    .cta__alt {
    padding: 0.8em 1em;
		background-color: #000;
		color: #fff;
		border-radius: 5em;
	}
}
