.main {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: calc(100vh - 6em) repeat(12, auto);
	justify-content: center;
}
.hero {
	grid-column: 1/-1;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
}

.cofound__list > li h1 {
	margin-bottom: 1em;
}
.cofound__list span {
	font-weight: bold;
}

